@import "compass/reset";
@import "grid";
@import "compass/css3/filter";

html {
    font-family: Arial, Helvetica, sans-serif;
}


article {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;


    .content-body {
        color: rgba(0,0,0, 0.9);
        background-color: rgba(255,255,255, 0.8);
        padding: 5%;
        padding-bottom: 2%;
        padding-top: 2%;
    }

    p{
        font-size: 1em;
    }

    h2{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 4em;
        font-weight: bold;
    }

    h3{
        font-family: 'Merienda One', cursive;
        text-align: center;
        font-size: 2em;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15%;
        padding-right: 15%;
    }

    h4{
        font-size: 2em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    time{
        position: absolute;
        top: 0;
        right: 10%;
        padding: 5px;
        padding-top: 2px;
        font-size: 1.5em;
        text-shadow: 0px 0px 6px rgba(255,255,255, 0.7);
    }
}