@import "compass/utilities/general/clearfix";

$grid_width: 100%;
$columns: 12;
$gutter_width: 0.5%;
$column_base_width: ($grid_width/12);


.row {
    @include clearfix;
}

@for $i from 1 through $columns {
  .col-#{$i} {
     float: left;
     margin-right: $gutter_width;
     margin-left: $gutter_width;
     width: $column_base_width * $i - (2 * $gutter_width);

     &.first { margin-left: 0; width: $column_base_width * $i - $gutter_width }
     &.last  { margin-right: 0; width: $column_base_width * $i - $gutter_width }
     &.fill { margin-left: 0; margin-right: 0; width: $column_base_width * $i }
  }
}

body {
    width: 100%;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.centered {
    margin: auto !important;
}

.container {
    padding: 0;
    margin: 0;
    @include clearfix;
    &.full { width: 100%; }
    &.large { width: 80%; }
    &.medium { width: 70%; }
    &.small { width: 50%; }
}
