@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html { line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul { list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table { border-collapse: collapse; border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote { quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img { border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/\.jruby\/gems\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\000039}}
.row { overflow: hidden; *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-1 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 7.33333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-1.first { margin-left: 0; width: 7.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-1.last { margin-right: 0; width: 7.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-1.fill { margin-left: 0; margin-right: 0; width: 8.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-2 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 15.66667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-2.first { margin-left: 0; width: 16.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-2.last { margin-right: 0; width: 16.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-2.fill { margin-left: 0; margin-right: 0; width: 16.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-3 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 24%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-3.first { margin-left: 0; width: 24.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-3.last { margin-right: 0; width: 24.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-3.fill { margin-left: 0; margin-right: 0; width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-4 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 32.33333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-4.first { margin-left: 0; width: 32.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-4.last { margin-right: 0; width: 32.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-4.fill { margin-left: 0; margin-right: 0; width: 33.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-5 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 40.66667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-5.first { margin-left: 0; width: 41.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-5.last { margin-right: 0; width: 41.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-5.fill { margin-left: 0; margin-right: 0; width: 41.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-6 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 49%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-6.first { margin-left: 0; width: 49.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-6.last { margin-right: 0; width: 49.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-6.fill { margin-left: 0; margin-right: 0; width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-7 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 57.33333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-7.first { margin-left: 0; width: 57.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-7.last { margin-right: 0; width: 57.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-7.fill { margin-left: 0; margin-right: 0; width: 58.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-8 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 65.66667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-8.first { margin-left: 0; width: 66.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-8.last { margin-right: 0; width: 66.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-8.fill { margin-left: 0; margin-right: 0; width: 66.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-9 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 74%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-9.first { margin-left: 0; width: 74.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-9.last { margin-right: 0; width: 74.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-9.fill { margin-left: 0; margin-right: 0; width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-10 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 82.33333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-10.first { margin-left: 0; width: 82.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-10.last { margin-right: 0; width: 82.83333%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-10.fill { margin-left: 0; margin-right: 0; width: 83.33333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-11 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 90.66667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-11.first { margin-left: 0; width: 91.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-11.last { margin-right: 0; width: 91.16667%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-11.fill { margin-left: 0; margin-right: 0; width: 91.66667%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000314}}
.col-12 { float: left; margin-right: 0.5%; margin-left: 0.5%; width: 99%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000320}}
.col-12.first { margin-left: 0; width: 99.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000321}}
.col-12.last { margin-right: 0; width: 99.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000322}}
.col-12.fill { margin-left: 0; margin-right: 0; width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000326}}
body { width: 100%; margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000331}}
img { display: block; width: 100%; height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000337}}
.centered { margin: auto !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000341}}
.container { padding: 0; margin: 0; overflow: hidden; *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000345}}
.container.full { width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000346}}
.container.large { width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000347}}
.container.medium { width: 70%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/grid\.scss}line{font-family:\0000348}}
.container.small { width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\000035}}
html { font-family: Arial, Helvetica, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\0000310}}
article { position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\0000319}}
article .content-body { color: rgba(0, 0, 0, 0.9); background-color: rgba(255, 255, 255, 0.8); padding: 5%; padding-bottom: 2%; padding-top: 2%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\0000327}}
article p { font-size: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\0000331}}
article h2 { text-align: center; padding-top: 50px; padding-bottom: 50px; font-size: 4em; font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\0000339}}
article h3 { font-family: 'Merienda One', cursive; text-align: center; font-size: 2em; padding-top: 20px; padding-bottom: 20px; padding-left: 15%; padding-right: 15%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\0000349}}
article h4 { font-size: 2em; padding-top: 10px; padding-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/hendrik\/tw-repo\/p2\/slog\/src\/main\/webapp\/assets\/sass\/application\.scss}line{font-family:\0000355}}
article time { position: absolute; top: 0; right: 10%; padding: 5px; padding-top: 2px; font-size: 1.5em; text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7); }
